html {
  font-family: 'Ayuthaya', sans-serif;
  font-size: 16px;
  background-color: #BDEAFF;
}

body {
  display: flex;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #00AEFF;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 5rem;
  padding-left: 2rem;
}

ul li {
  display: inline;
  margin-right: 2rem;
}

nav a {
  color: white;
}

ul li:hover {
  color: black;
}

#home,
#services,
#forms {
  padding-right: 2rem;
}

.patients {
  position: absolute;
  top: 7rem;
  padding-left: 2rem;
}

.medicare {
  display: flex;
  position: absolute;
  top: 14rem;
  width: 100%;
  justify-content: center;
}

.medicare ul a li {
  color: black;
  display: inline;
}

.medicare a {
  text-decoration: none;
}

.medicare ul a li:hover {
  text-decoration: underline;
}

#acknowledgement {
  padding-left: 6rem;
}

.copyright {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  width: 100%;
  justify-content: flex-end;
}

.copyright a {
  color: black;
  text-decoration: none;
  padding-right: 2rem;
}
