html {
  font-family: 'Ayuthaya', sans-serif;
  font-size: 16px;
  background-color: #BDEAFF;
}

body {
  display: flex;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #00AEFF;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 5rem;
  padding-left: 2rem;
}

nav h2 {
  display: none;
}

ul li {
  display: inline;
  margin-right: 2rem;
}

nav a {
  color: white;
}

ul li:hover {
  color: black;
}

#home,
#services,
#forms {
  padding-right: 2rem;
}

.patients {
  position: absolute;
  top: 7rem;
  padding-left: 2rem;
}

.forms-1 {
  display: flex;
  position: absolute;
  top: 14rem;
  width: 100%;
  justify-content: space-around;
}

.forms-2 {
  display: flex;
  position: absolute;
  top: 20rem;
  width: 100%;
  justify-content: space-around;
}

.forms-2 a {
  color: black;
  text-decoration: none;
}

.forms-2 a:hover {
  text-decoration: underline;
}

#medicare2 {
  padding-left: 2rem;
}

.copyright {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  width: 100%;
  justify-content: flex-end;
}

.copyright a {
  color: black;
  text-decoration: none;
  padding-right: 2rem;
}

@media only screen and (max-width: 1045px) {
  nav img {
    display: none;
  }

  nav h2 {
    display: inline;
    padding-left: 2rem;
  }
}
