html {
  font-family: 'Ayuthaya', sans-serif;
  font-size: 16px;
  background-color: #BDEAFF;
}

body {
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #00AEFF;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 5rem;
  padding-left: 2rem;
}

ul li {
  display: inline;
  margin-right: 2rem;
}

a {
  color: white;
}

ul li:hover {
  color: black;
}

#services,
#forms {
  padding-right: 2rem;
}

.jumbotron {
  height: 40rem;
}

.jumbotron img {
  display: flex;
  position: relative;
  height: 40rem;
  width: 100%;
  top: 5rem;
}

.jumbotron h1 {
  position: relative;
  bottom: 19rem;
  font-size: 2rem;
  background-color: #05577F;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
}

.info {
  display: flex;
  position: relative;
  top: 6rem;
}

.description {
  background-color: #05577F;
  position: absolute;
  width: 30%;
  left: 10%;
  margin-top: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #1C92CB;
}

.description p {
  color: white;
  padding: 2rem;
}

.hours {
  background-color: #05577F;
  position: absolute;
  width: 30%;
  right: 10%;
  color: white;
  margin-top: 2rem;
  margin-bottom: 10rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #1C92CB;
}

.hours h3 {
  text-decoration: underline;
  margin: 0;
  padding-top: 2rem;
  padding-left: 2rem;
}

.hours p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
