html {
  font-family: 'Ayuthaya', sans-serif;
  font-size: 16px;
  background-color: #BDEAFF;
}

body {
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #00AEFF;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  display: none;
}

nav img {
  height: 5rem;
  padding-left: 2rem;
}

ul li {
  display: inline;
  margin-right: 2rem;
}

a {
  color: white;
}

ul li:hover {
  color: black;
}

#home,
#services,
#forms {
  padding-right: 2rem;
}

.services-1 {
  display: flex;
  position: relative;
  top: 10rem;
  justify-content: center;
  width: 100%;
}

.diabetic,
.woundcare,
.reconstructive,
.vascular,
.diagnostic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.services-2 {
  display: flex;
  position: relative;
  top: 15rem;
  justify-content: center;
}

.copyright {
  display: flex;
  position: relative;
  top: 25rem;
  font-size: 0.75rem;
  width: 100%;
  justify-content: flex-end;
}

.copyright a {
  color: black;
  text-decoration: none;
  padding-right: 2rem;
}

#footcare,
#wound,
#surgery,
#testing,
#ultrasound {
  width: 25%;
  padding: 1rem;
  background-color: #00577F;
  box-shadow: 0.5rem 0.5rem 0.5rem #00577F;
}

/*Media Queries*/

@media only screen and (max-width: 1045px) {
  nav img {
    display: none;
  }

  nav h2 {
    display: inline;
    padding-left: 2rem;
  }
}

/*Add Media Query to align Service images and descriptions vertically at min-width 1245px; keep background colors*/
