html {
  font-family: 'Ayuthaya', sans-serif;
  font-size: 16px;
  background-color: #BDEAFF;
}

body {
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #00AEFF;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  display: none;
}

nav img {
  height: 5rem;
  padding-left: 2rem;
}

ul li {
  display: inline;
  margin-right: 2rem;
}

a {
  color: white;
}

ul li:hover {
  color: black;
}

#home,
#services,
#forms {
  padding-right: 2rem;
}

.services-1 {
  display: flex;
  position: relative;
  top: 10rem;
  justify-content: space-around;
}

.services-1 img {
  padding-left: 2rem;
  width: 25%;
  height: 25%;
}

.services-2 {
  display: flex;
  position: relative;
  top: 15rem;
  justify-content: space-around;
}

.services-2 img {
  width: 25%;
  height: 25%;
}

.description-1 {
  display: flex;
  position: relative;
  top: 10rem;
  justify-content: space-around;
}

.description-2 {
  display: flex;
  position: relative;
  top: 15rem;
  justify-content: space-around;
}

#surgery {
  width: 30%;
  padding-right: 2rem;
}

.copyright {
  display: flex;
  position: relative;
  top: 25rem;
  font-size: 0.75rem;
  width: 100%;
  justify-content: flex-end;
}

.copyright a {
  color: black;
  text-decoration: none;
  padding-right: 2rem;
}

/*Media Queries*/

@media only screen and (max-width: 1045px) {
  nav img {
    display: none;
  }

  nav h2 {
    display: inline;
    padding-left: 2rem;
  }
}
